html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(40, 40, 40, 1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
}

hr {
    width: 500px;
}

svg {
    min-width: 300px;
    width: 400px;
    max-width: 600px;
    margin-bottom: -50%;
    z-index: 0;
}

.pig-with-hands {
    max-width: 800px;
    width: 600px;
    margin-bottom: -35%;
}

.body {
    margin-top: -80%;
    z-index: -1;
}


.pig-hands {
    max-width: 800px;
    width: 600px;
    margin-bottom: -35%;
    margin-top: -55%;
    z-index: -1;
}

#hand-right {
    transform: none;
    transition-duration: 2s;
}

#hand-left {
    transform: none;
    transition-duration: 2s;
}

input, label {
    width: 95%;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label span {
    margin-bottom: 0.5rem;
    z-index: 1;
}

input {
    height: 35px;
    padding: 0.1rem 0rem 0.1rem 0.5rem;
    box-shadow: 4px 4px rgba(40, 40, 40, 0.35);
    border: 2px solid rgba(40, 40, 40, 0.35);
    outline: none;
    z-index: 1;
    margin-bottom: 0.5rem;
}

@keyframes rotateHead {
    25% {
        transform: rotate(2.5deg);
    }
    75% {
        transform: rotate(-2.5deg);
    }
    
}

@keyframes rotateBody {
    25% {
        transform: rotate(-2.5deg);
        transform-origin: top;
    }
    75% {
        transform: rotate(2.5deg);
        transform-origin: top;
    }
}

@keyframes rotateHandLeft {
    to {
        transform: rotate(30deg);
        transform-origin: bottom;
    }
}

@keyframes rotateHandRight {
    to {
        transform: rotate(-30deg);
        transform-origin: bottom;
    }
}